body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.chat-container {
  width: 350px;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}

.chat-box {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 8px;
  margin: 5px 0;
  border-radius: 8px;
}

.user {
  background: #2563eb;
  text-align: right;
}

.bot {
  background: #334155;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 8px;
  margin-left: 5px;
  background: #22c55e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
